# Dependencies
node_modules/
dist/
dist-ssr/
build/

# Environment variables (Total exclusion)
**/.env
**/.env.*
**/.env.example
**/.env.sample
**/.env.template

# Local development files
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / OS files
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
.project
.settings/
.classpath

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
